
/*******************************
  Buy A Plot Styles
*******************************/
h3 {
  font-size: 1.2rem;
  margin-left: 2em;
  margin-bottom: 1em;
}
.fullForm {
  width: 50%;
  margin: 0 auto;
  background-color: #4f4f4f;
  padding: 2em;
  color: #FAF4D3;
}
input {
  display: block;
}
select {
  margin-bottom: 2em;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}
.bright {
  color: #ffbaa1;
}

/******************
  Form
******************/

.fullForm {
  width: 30rem;
}
#smallSet {
  padding: 1px;
  text-align: center;
  border: none;
}
#smallSet label, #yesSeeds {
  margin: unset;
}
#noSeeds {
  margin-left: 3rem;
}
#inputSet {
  border: none;
}
#inputSet input {
  width: 97%;
}
#largeSet {
  margin: 1em;
  padding: 0 1em 2em 1em;
  border: 1px solid #FAF4D3;
  border-radius: .5em;
}
.fullForm legend {
  font-size: 1.2em;
}
.fullForm input, select {
  padding: 5px;
  font-size: 16px;
  display: block;
}
.fullForm label {
  display: inline-block;
  margin-top: 1.5em;
}
#newTab {
  padding: 0;
  border: none;
  margin: 0;
  display: inline;
}
.helpText {
  margin-bottom: 0;
}
.fullForm input[type="checkbox"],
.fullForm input[type="radio"] {
  display: inline;
  margin-left: 2em;
}


/******************
  Form Buttons
******************/
.formButtons {
  margin: 2em;
}
.buttonContainer {
  display: block;
  margin-top: 60px;
  padding: 10px;
  text-align: center;
}
.fullForm input[type="submit"],
.fullForm input[type="reset"] {
  display: inline-block;
  padding: .7em;
  border: 1px solid #FAF4D3;
}
.fullForm input[type="submit"] {
  margin-right: 2em;
  background-color: #FF7F50;
  outline-color: #2F4F4F;
  color: #2F2F2F;
}
.fullForm input[type="reset"] {
  background-color: #FAF4D3;
  color: #2F4F4F;
}
.fullForm input[type="submit"]:hover,
.fullForm input[type="reset"]:hover{
  background-color: #FAF4D3;
  color: #2F4F4F;
  transition: .5s;
}
