/*******************************
    Gardening Tips page
*******************************/

#tipsBkgd {
  background-image: url(../images/veggieBackground.jpg);
  padding: 3em;
}

#tipsBkgd div {
  background-color: #fff;
  opacity: .8;
  width: 60%;
  margin: 0 auto;
  padding: 2em;
}
b {
  font-weight: 900;
}
main li a {
  font-family: Merriweather;
  color: #38194e;
  font-weight: 900;
}
main li a:visited {
  color: #38194e;
}
