/*******************************
    Gardening Tips page
*******************************/

#tipsBkgd {
  background-image: url(../images/veggieBackground.jpg);
  padding: 3em;
  background-color: #FAF4D3; /* Light cream fallback */
  background-size: cover;
  background-attachment: fixed;
}
#tipsBkgd div {
  font-family: Source Sans Pro;
  background-color: #fff;
  opacity: .9;
  width: 60%;
  margin: 0 auto;
  padding: 2em;
  letter-spacing: 0.025rem;
  word-spacing: 0.3rem;
}
#tipsBkgd ol {
  list-style-position: inside;
}
#tipsBkgd ol li {
  font-family: Source Sans Pro;
  color: #141414;
  margin-top: 2.5rem;
  line-height: 1.8;
}
#tipsBkgd ol li::marker {
  font-size: 2rem;
  font-weight: 500;
  line-height: 0;
  color: #FF7F50;
}
p {
  color: #141414;
}
b {
  font-weight: 900;
}
main li a {
  font-family: Merriweather;
  color: #38194e;
  font-weight: 900;
  text-decoration: underline;
}
main li a:visited {
  color: #38194e;
  text-decoration: underline;
}
main li a:hover {
  color: #5d7e49;
  text-decoration: underline;
}
.cta {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #38194e;
}
.cta a {
  color: #5d7e49;
  font-weight: bold;
}
.cta a:hover {
  text-decoration: underline;
}
